@import url('https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic');
@import url('https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic');

@import "tailwindcss";

body{
  background-color: #fffaf7;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme{
  --color-main: #2b231e;
  --color-secondary: #312E29;
  --color-tertiary: #d74545;
  --color-lightsecondary: #706357;
  --color-divideryellow: #ECC493;
  --font-playfair: "Playfair Display", serif;
  --font-dm: "DM Sans", serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


